[run]
branch = True
source = Acquisition

[report]
precision = 2
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == '__main__':
    raise NotImplementedError
    raise AssertionError
    self.fail

[paths]
source =
  src/
  .tox/*/lib/*/site-packages/
  .tox/pypy*/site-packages/
