[run]
branch = True
source = Acquisition
plugins = coverage_python_version

[report]
precision = 2
show_missing = True

[paths]
source =
  src/
  .tox/*/lib/*/site-packages/
  .tox/pypy*/site-packages/
